---
title: "{{ .Title }}"
date: {{ .Date }}
slug: "{{ .Slug }}"
{{ if .Categories }}categories:
{{ range .Categories }}  - "{{ . }}"
{{ end }}{{ else if .Category }}categories:
  - "{{ .Category }}"{{ end }}
{{ if .Tags }}tags:
{{ range .Tags }}  - "{{ . }}"
{{ end }}{{ end }}
{{ if .Image }}cover:
    image: "{{ .Image }}"
    alt: "{{ .Title }}"
    hidden: true
    caption: "{{ .Title }}"
{{ end }}
{{ if .Image }}image: "{{ .Image }}"
{{ end }}
draft: false
showtoc: false
{{ if .Summary }}summary: "{{ .Summary }}"{{ end }}
{{ if .Image }}bigimg: [{src: "{{ .Image }}"}]{{ end }}
---

{{ .Body }}

{{ if .ExtendedBody }}
<!--more-->

{{ .ExtendedBody }}
{{ end }}