---
title: "{{ .Title }}"
date: {{ .Date }}
slug: {{ .Slug }}
{{ if .Category }}category:
  - {{ .Category }}
{{ end }}
{{ if .Tags }}tags:
{{ range .Tags }}  - {{ . }}
{{ end }}{{ end }}
{{ if .Image }}cover:
    image: "{{ .Image }}"
    alt: "{{ .Title }}"
    hidden: true
    caption: "{{ .Title }}"
{{ end }}
draft: false
showtoc: false
{{ if .Summary }}summary: "{{ .Summary }}"{{ end }}
---

{{ .Body }}

{{ if .ExtendedBody }}
<!--more-->

{{ .ExtendedBody }}
{{ end }}